* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: black;
}
.inner-cards {
  background: white;
  width: 29rem;
  height: 80vh;
}

.card1 {
  transform: perspective(1000px) rotateY(15deg);
}

.card2 {
  transform: perspective(1000px) rotateY(-15deg);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 3vw;
}

.profile-photo {
  width: 15rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.middle {
  position: relative;
  top: 2rem;
  padding: 10px 30px;
  border: 2px solid white;
  height: 100%;
}

.name {
  font-size: 1.5rem;
  text-align: center;
}
